.heading {
    font-weight: 700;
}
.heading--jumbo {
    font-size: 5rem;
}
.subheading {
    margin: 1rem 0;
    font-weight: 300;
}

h1,
.heading--primary {
    font-size: 5rem;
}

h2,
.heading--secondary {
    font-size: 3.5rem;
}

h3,
.heading--tertiary {
    font-size: 2rem;
}

h4,
.heading--quaternary {
    font-size: 1.5rem;
}

h5,
.heading--quinary {
    font-size: 1.25rem;
}
