@use "../../scss/mixins/" as *;

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 5rem;
    position: relative;

    @include tablet_min {
        flex-direction: row;
        align-items: stretch;
        margin-bottom: 9rem;

        &--alternative {
            flex-direction: row-reverse;
        }
    }

    & &__thumbnail {
        width: 100%;

        @include tablet_min {
            width: calc(100% / 2);
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            object-fit: cover;
            overflow: hidden;
        }
    }

    @include tablet_min {
        & &__bigThumbnail {
            left: 50%;
            max-width: 1280px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 50vw;
            z-index: -1;
        }
    }

    & &__text {
        width: 100%;

        @include tablet_min {
            align-items: center;
            display: flex;
            width: calc(100% / 2);
        }

        .card__title {
            color: var(--titlePrimary);
            margin-bottom: 0.5rem;
        }

        p {
            margin: 1rem 0;
        }
    }
}
