@use "../../scss/mixins/" as *;
.container {
   width: 100%;
   max-width: var(--max-width-d);
   padding: 0 1rem;
   margin: auto;

   @include tablet {
      padding: 0 1rem;
   }

   @include desktop {
      padding: 0 1rem;
   }

   &--small {
      max-width: var(--max-width-t);
   }

   &.columns {
      display: flex;
      flex-direction: column;
      gap: 5%;
      @include tablet_min {
         flex-direction: row;

         &--3cols > * {
            max-width: 33.33%;
         }
      }
   }
   &.text-cols {
      gap: 5%;
      &--2cols {
         @include tablet_min {
            columns: 2;
            p:first-of-type {
               margin-top: 0;
            }
         }
      }
   }
}

@include desktop {
   .col-1 {
      max-width: 8.33%;
   }
   .col-2 {
      max-width: 16.67%;
   }
   .col-3 {
      max-width: 25%;
   }
   .col-4 {
      max-width: 33.33%;
   }
   .col-5 {
      max-width: 41.67%;
   }
   .col-6 {
      max-width: 50%;
   }
   .col-7 {
      max-width: 58.33%;
   }
   .col-8 {
      max-width: 66.67%;
   }
   .col-9 {
      max-width: 75%;
   }
   .col-10 {
      max-width: 83.33%;
   }
   .col-11 {
      max-width: 91.67%;
   }
   .col-12 {
      max-width: 100%;
   }
}
