@import "./elements";

.section {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container {
    width: 100%;
    max-width: 1024px;
    padding: 0 1px;
    margin: auto;

    @include tablet {
        padding: 0 15px;
    }

    @include desktop {
        padding: 0 15px;
    }
}
