@import "./elements/elements";

.img-responsive {
    width: 100%;
    max-width: 100%;
}

.section {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

    .section__title {
        font-weight: 900;
        margin: 3rem 0;
        text-align: center;
        color: var(--titlePrimary);
    }
}

.container {
    width: 100%;
    max-width: var(--max-width-d);
    padding: 0 1rem;
    margin: auto;

    @include tablet {
        padding: 0 1rem;
    }

    @include desktop {
        padding: 0 1rem;
    }
}

.gutter {
    padding: 1rem;
}
