@use "../../scss/mixins/" as *;

.section {
   width: 100%;

   .section__title {
      margin: 5rem 0;
      color: var(--titlePrimary);

      &--center {
         text-align: center;
      }
   }
   &--alt {
      background: white;
      background: linear-gradient(
            160deg,
            rgba(67, 184, 181, 0.15) 0%,
            rgba(57, 168, 190, 0) 30%
         ),
         linear-gradient(
            201deg,
            rgba(211, 37, 153, 0.15) 0%,
            rgba(119, 33, 216, 0) 30%
         ),
         linear-gradient(
            345deg,
            rgba(42, 231, 177, 0.15) 0%,
            rgba(32, 220, 227, 0) 30%
         ),
         linear-gradient(
            25deg,
            rgba(231, 210, 42, 0.2) 0%,
            rgba(227, 159, 32, 0) 30%
         );
   }
}
