@use "../../variables/" as *;

.button {
    background-color: $buttonPrimary;
    border: 0;
    border-radius: 100px;
    color: $buttonPrimaryText;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.05rem;
    padding: 7px 20px;

    &:hover {
        background-color: $buttonPrimaryHover;
    }
}
