.main-container {
   max-width: 850px;
   min-height: 600px;
   width: 100%;
   margin: auto;
   position: relative;
   border-radius: 15px;
   background-color: var(--web-bg);
   overflow: hidden;
}

#app {
   display: none;
   width: 100%;
   height: 100%;
   position: absolute;
}

.regular {
   font-weight: 300;
}

.clear-fix {
   clear: both;
}

.img-responsive {
   width: 100%;
   max-width: 100%;
}

.black-transp {
   background-color: rgba(0, 0, 0, 0.8);
}

.black-transp2 {
   background-color: rgba(0, 0, 0, 0.2);
}

.white-transp {
   background-color: rgba(255, 255, 255, 0.8);
}

.relative {
   position: relative !important;
}

.popup {
   position: absolute;
   z-index: 50;
   top: 0;
   left: 0;
   display: none;
   padding: 20px;
}

.fill {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.flex {
   display: flex;
   align-items: center;
}

.close-popup {
   float: right;
   border-radius: 50%;
   width: 30px;
   height: 30px;
   padding: 8px;
}

.popup .content-div {
   background-color: #FFF;
   width: 100%;
   max-width: 600px;
   margin: auto;
   border-radius: 10px;
   padding: 20px;
   z-index: 1;
}

.slides {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

button:disabled,
.disabled,
.disabled:hover {
   text-shadow: none !important;
   filter: grayscale(1);
   opacity: 0.25;
   cursor: default !important;
}

.btns {
   border-radius: 7px;
   max-width: 25%;
   font-weight: bold;
}

.buttons-div .btns {
   display: block;
   margin: 0.5%;
   padding: 0.5%;
   color: #FFF;
   box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
   transition: all 1s ease-in-out;
}

.textbox {
   position: absolute;
   width: 43%;
   padding: 2%;
   background: #FFF;
   border-radius: 5px;
   box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.15);
   z-index: 1;
}

.speechbubble {
   padding: 2%;
   width: 45%;
   border-radius: 5px;
   box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.15);
   text-align: center;
   color: #000;
}

.speech-arrow {
   width: 20px;
   height: 20px;
   transform: rotate(45deg);
   position: absolute;
   background: #fff;
   z-index: -1;
   transition: all 1s ease-in-out;
}

.arrow-up {
   top: -10px;
   border-left: 4px solid #FFF;
   border-top: 4px solid #FFF;
}

.arrow-down {
   bottom: -10px;
   border-right: 4px solid #FFF;
   border-bottom: 4px solid #FFF;
}

.arrow-left {
   left: -10px;
   border-left: 4px solid #FFF;
   border-bottom: 4px solid #FFF;
}

.arrow-right {
   right: -10px;
   border-top: 4px solid #FFF;
   border-right: 4px solid #FFF;
}

.instructions {
   position: absolute;
   width: 50%;
   left: 27.5%;
   top: 0;
   transition: all 1s ease-out;
}

.instructions .box {
   position: relative;
   width: 100%;
   transition: all 1s ease-out;
}

.instructions .text {
   padding: 2% 5% 0;
}

.closed .box {
   transform: translate(0, -100%);
}

.instructions .close {
   position: absolute;
   width: 100%;
   text-align: right;
   padding: 0 1% 1%;
   border-bottom-left-radius: 7px;
   border-bottom-right-radius: 7px;
}

.instructions .btn-close {}


.base-div {
   height: 60%;
   left: 2%;
   max-width: 808px;
   position: absolute;
   top: 20%;
   width: 100%;
}

.base-div .graph {
   position: absolute;
   width: 80%;
   left: 10%;
}

.base-div .main-char {
   position: absolute;
   width: 6.5%;
   top: 48%;
   left: 47%;
}

.names-div .names {
   position: absolute;
   font-size: 20px;
   color: #fff;
   width: 18%;
   text-align: center;
}

.characters-div .targets {
   display: none;
   position: absolute;
   width: 10%;
   height: 20%;
   transition: all 1s ease-in-out;
   transform-origin: 50% 10%;
}

.characters-div .targets .circle {
   position: absolute;
   width: 68%;
   height: 20%;
   left: 16%;
   background: #FFF;
   border-radius: 50%;
   cursor: pointer;
}

.characters-div .targets:focus {
   outline: none;
}

.characters-div .targets:focus .circle {
   box-shadow: 1px 1px 10px #189CD9;
   border: 2px solid #FFF;
   background: #189CD9;
}

.characters-div .characters {
   display: none;
   position: absolute;
   width: 10%;
   height: 5%;
   top: 0%;
   left: 85%;
   cursor: pointer;
   transition: transform 1s ease-in-out;
   transform-origin: 50% 0;
   z-index: 5;

}

.characters-div .characters:focus,
.characters-div .characters:hover {
   outline: none;
   z-index: 10;
}

.characters-div .characters:focus img {
   filter: drop-shadow(1px 1px 10px var(--iris));
}

.characters-div .characters img {
   transform: translate(0, -82%);
}

.characters-div .characters .label {
   display: none;
   position: absolute;
   right: 0;
   top: 100%;
   padding: 5px;
   background: #FFF;
   border-radius: 4px;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
   z-index: 10;
   text-decoration: none;
   text-align: center;
   color: var(--non-black);
}

.ui-draggable-disabled {}

.ui-droppable-disabled {
   cursor: default !important;
}

.prefocus {
   outline: none;
   background: none;
}


.bgBlue {
   background-color: #189CD9;
}

.bgTurquoise {
   background-color: #0F647A;
   color: #FFF;
}

.bgPink {
   background-color: #E72265;
   color: #FFF;
}

.bgLilac {
   background-color: #6864E9;
   color: #FFF;
}

.bgPurple {
   background-color: #8E1652;
   color: #FFF;
}

.bgYellow {
   background-color: var(--apricot);
}

.bgGreen {
   background-color: #A4C532;
}

.bgGrey {
   background-color: #DDD;
}

.bgBlack {
   background-color: #373331;
   color: #FFF !important;
}



@media (min-width:768px) {}

@media (max-width:767px) {
   body {
      font-size: 0.9em;
   }

   h1 {
      font-size: 2.2em;
   }

   h2 {
      font-size: 1.8em;
   }

   h3 {
      font-size: 1.5em;
   }

   h4 {
      font-size: 1.2em;
   }
}

@media (min-width:601px) and (max-width:767px) {
   body {
      font-size: 0.8em;
   }
}

@media (max-width:600px) {
   body {
      font-size: 0.5em;
   }
}

.orientation-message {
   align-items: center;
   display: none;
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 2;
   background: black;
   color: white;
   padding: 12%;
}

.orientation-message p {
   width: 100%;
   text-align: center;
   font-size: 1.2rem;
}


.rotateIcon {
   background: white;
   border-radius: 50%;
   width: 100px;
   height: 100px;
   margin: auto;
   padding: 25px;
}

@media (orientation: portrait) and (max-width: 500px) {
   .orientation-message {
      display: flex;
   }

   #app {
      display: none !important;
   }
}