:root {
    --nasuPurple: #5f27cd;
    --joustBlue: #54a0ff;
    --jadeDust: #00d2d3;
    --wildCaribbeanGreen: #1dd1a1;
}

/* Color vars */

$nasuPurple: var(--nasuPurple);
$joustBlue: var(--joustBlue);
$jadeDust: var(--jadeDust);
$wildCaribbeanGreen: var(--wildCaribbeanGreen);
